* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Inter", sans-serif;
    font-size: 62.5%;

    --background-primary: #F4F5FB;
    --background-secondary: #FFF;
    --color-brand: #CA3884;
    --color-brand-hover: #A52C6B;
    --color-danger: #C93847;
    --content-primary: #080B12;
    --content-secondary: #374151;
    --content-tertiary: #9CA3AF;
    --always-white: #FFF;
    --border-primary: #D1D5DB;
    --border-hover: #B9C2D0;
}

body {
    font-size: 1.6rem;
    padding: 3.2rem;
    background: var(--background-primary);
}

.online {
    background: var(--color-brand);
    border-radius: 1.2rem;
    /*Localização do conteiner*/
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 0;
    top: 0;
    /*Tamanho do conteiner*/
    width: 10.5rem;
    height: 1em;
    padding: 0;
    margin: 1rem;
    cursor: pointer;

    &:hover {
        background: var(--color-brand-hover);
    }

    button {
        color: #fff;
        font-size: 1rem;
        line-height: 1.6rem;
        font-weight: 500;
        color: #fff;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10.5rem;
        height: 1em;
    }
}

header {
    margin-bottom: 4.4rem;
    max-width: 62.7rem;
    /*largura máxima*/
    margin-inline: auto;
    /*ficar sempre no centro da horizontal*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        width: 15.4rem;
        margin-inline: auto;
        margin-bottom: 3rem;
    }

    button {
        border: none;
        background: none;
        font-size: 1.4rem;
        line-height: 1.6rem;
        font-weight: 500;
        margin-bottom: 1.6rem;
        color: var(--color-brand);
        cursor: pointer;
    }

    h1 {
        font-size: 2.4rem;
        color: var(--content-primary);
        line-height: 3.2rem;
    }
}

main {
    max-width: 62.7rem;
    margin-inline: auto;
}

.bancoDados {
    margin-bottom: 4rem;

    input {
        width: 100%;
        padding: 1.2rem;
        border: 2px solid var(--border-primary);
        border-radius: 1.2rem;
        margin-bottom: 1.6rem;
        outline: none;
        color: var(--content-primary);

        &::placeholder {
            color: var(--content-tertiary);
        }

        &:hover {
            border: 2px solid var(--border-hover);
            cursor: pointer;
        }

        &:focus {
            border: 2px solid var(--color-brand);
        }
    }

    button {
        background: var(--color-brand);
        border: none;
        color: var(--always-white);
        width: 100%;
        padding: 1rem 2.4rem;
        font-size: 1.6rem;
        line-height: 2rem;
        border-radius: 1.2rem;
        font-weight: 600;
        cursor: pointer;

        &:hover {
            background: var(--color-brand-hover);
        }
    }
}

button {
    background: var(--color-brand);
    border: none;
    color: var(--always-white);
    width: 100%;
    padding: 1rem 2.4rem;
    font-size: 1.6rem;
    line-height: 2rem;
    border-radius: 1.2rem;
    font-weight: 600;
    cursor: pointer;

    a {
        color: var(--always-white);
        text-decoration: none;
    }

    &:hover {
        background: var(--color-brand-hover);
    }
}

@media(min-width: 627px) {
    .online{
        margin-top: 4.2rem;
        margin-right: 4.2rem;
    }
    header {
        img {
            margin-bottom: 6.4rem;
        }
    }

    .bancoDados {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        gap: 1.6rem;

        input {
            margin-bottom: 0;
            grid-column: 1/8;
        }

        button {
            grid-column: 8/11;
        }
    }
}